.formulario {
	p {
		font-size: 1.4rem;
		color: $grisOscuro;
		margin: 2rem 0 0 0;
	}

	legend {
		font-size: 2rem;
		color: $grisOscuro;
	}

	label {
		font-weight: $bold;
		text-transform: uppercase;
		display: block;
	}
	input:not([type='submit']),
	textarea,
	select {
		display: block;
		padding: 1rem;
		width: 100%;
		background-color: $blanco;
		border: 1px solid $gris;
		border-radius: 1rem;
		margin-bottom: 2rem;
	}

	textarea {
		height: 20rem;
	}

	.forma-contacto {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 30rem;
	}

	input[type='radio'] {
		width: auto;
		margin: 0;

		&:hover {
			cursor: pointer;
		}
	}
}
