.barra {
	display: flex;
	flex-direction: column;
	padding-top: 3rem;

	@include tablet {
		flex-direction: row;
		justify-content: space-between;
	}
}

.navegacion {
	@include tablet {
		display: flex;
		align-items: center;
		gap: 2.5rem;
	}

	a {
		color: $blanco;
		text-decoration: none;
		font-size: 1.8rem;
		display: block;
		text-align: center;
		transition: all 0.5s ease-in-out;

		&:hover {
			color: $verde;
		}
	}
}
